mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 999;
  background-color: #e2e2e2;
}

.spacer {
flex: 2 1 auto;
}

.mat-toolbar-row{
  min-height: 50px;
  margin-right: 10em;
  padding-left: 8rem; padding-right: 8rem
}
.mat-button-space {
  margin-left: 10px;
  margin-right: 10px;
}
.cdk-overlay-pane{
  margin-top: 5px;
}

.mat-mdc-menu-panel {
  margin-top: 50px;
}

.mdc-menu-surface {
  margin-top: 50px;
}
