.container{
  display: flex;
  width: 100%;
  padding: 0;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.card {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

mat-step {
  margin-top: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.example-card {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.example-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.selected-card {
  border: 2px solid #007bff;
}

mat-card-header {
  display: flex;
  align-items: center;
}

mat-card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

button {
  margin-right: 10px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

textarea {
  min-height: 100px;
}
.facility{
  width: 20%;
}
.options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imagediv{
  width: 60%;
  }


  .container2 {
    height: 200px;
    width:400px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
  }

  .header {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

  }

  .header svg {
    height: 100px;
  }

  .header p {
    text-align: center;
    color: black;
  }

  .footer {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
  }

  .footer svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
  }

  .footer p {
    flex: 1;
    text-align: center;
  }
/*
  #file {
    display: none;
  } */
