<div class="backgroundImage">
  <div class="search-container">
    <div class="search-field">
      <mat-form-field class="example-full-width" appearance="fill" style="margin-bottom: -1.25em">
        <mat-label><fa-icon [icon]="falocation"></fa-icon> Where</mat-label>
        <input matInput [matAutocomplete]="auto" (input)="search($event)" [(ngModel)]="selectedAddress"
          [ngModelOptions]="{ standalone: true }" />
        <mat-autocomplete autoActiveFirstOption #auto>
          <mat-option *ngFor="let address of addresses" (click)="onSelect(address)"><fa-icon
              [icon]="falocation"></fa-icon>{{ address }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="date-range-field">
      <mat-form-field appearance="fill" style="margin-bottom: -1.25em">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="currentDate">
          <input matStartDate placeholder="Start date" [(ngModel)]="currentDate" />
          <input matEndDate placeholder="End date" [(ngModel)]="endDate" />
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>


    <div class="search-button">
      <button mat-fab color="primary" (click)="searchProperty()">
        <fa-icon [icon]="searchIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="title">
    <h1 style="font-size: 40px">Find a place that matches your style</h1>
  </div>
  <div  >
    <mat-grid-list [cols]="breakpoint" rowHeight="450px" (window:resize)="onResize($event)" gutterSize="70px">
      <mat-grid-tile class="property-single-card" *ngFor="let property of properties" >
        <div class="mat-grid-tile-content">
          <mat-card >
            <app-imageslider [slides]="property.imageUrl" [propertyId]="property._id"
              (idSelected)="onPropertyClick($event)" ></app-imageslider >
            <br />
            <div (click)="onPropertyClick(property._id)">
              <mat-card-title> {{ property.name }}</mat-card-title>
              <mat-card-subtitle>
                {{ property.address.address }}
              </mat-card-subtitle>
              <mat-card-title>₹ {{ property.price }}/night</mat-card-title>
            </div>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
