<div style="width: 100%; height: 300px; margin: 0 auto ;">
  <div class="slider">
    <div>
      <div (click)="goToPrevious()" class="leftArrow">❰</div>
      <div (click)="goToNext()" class="rightArrow">❱</div>
    </div>
    <div class="slide" [ngStyle]="{ 'background-image': getCurrentSlideUrl() }" (click)="onPropertyClick()"></div>
    <div class="dotsContainer">
      <div *ngFor="let slide of slides; let slideIndex = index" class="dot" (click)="goToSlide(slideIndex)">
        ●
      </div>
    </div>
  </div>
  </div>
